@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');
*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  /** Box-shadow */
  --bxshd:rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /*!! Colors */

  /*? Primary */

  --Red: hsl(1, 90%, 64%);
  --Blue: hsl(219, 85%, 26%);

  /*? Neutral */

  --White: hsl(0, 0%, 100%);
  --Very-light-grayish-blue: hsl(210, 60%, 98%);
  --Light-grayish-blue-1: hsl(211, 68%, 94%);
  --Light-grayish-blue-2: hsl(205, 33%, 90%);
  --Grayish-blue:hsl(219, 14%, 63%);
  --Dark-grayish-blue: hsl(219, 12%, 42%);
  --Very-dark-blue: hsl(224, 21%, 14%); 
  
  /* ?Typography */
  --fntfamily: "Plus Jakarta Sans";
  --Fz: 16px;
  --Fw:500;
  --Fw2:800;
}
html:focus-within{
  scroll-behavior: smooth;
}

body{
  font-family:var(--fntfamily);
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  display: flex;
  height:100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--Very-light-grayish-blue)
}
a{
  text-decoration: none;
}
img, picture{
  max-width:100%;
  display: block;
}
main{
  width: 34.5rem;
  margin:1rem 1rem .4rem 1rem;
  background-color: var(--White);
  border-radius: 10px;
  box-shadow:var(--bxshd);
}
input,
button,
textarea,
select {
  font: inherit;
}
.notifications-container{
  margin:1rem;
}
.notifications-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:1rem;
}
.notify{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:.75rem;
}
.notify h1{
  font-family:var(--fntfamily);
  font-weight: 800;
  color: var(--Very-dark-blue);
  font-size:20px;
}
.notify .notify-num{
  background-color: var(--Blue);
  padding: .1rem .5rem;
  color: var(--White);
  font-weight: 800;
  font-size: 12px;
  border: 1px solid  var(--Blue);
  border-radius: .25rem;
}
.allread{
  color: var(--Dark-grayish-blue);
  margin-left: auto;
  font-size: 14px;
}
.notification{
  padding:.15rem 0rem;
  font-size: .8em;
  color: var(--Dark-grayish-blue);
}
.notifications-list .notification:nth-last-child(-n+4) {
  margin-top:1.5rem;
}
.notification strong{
  color: var(--Very-dark-blue);
  font-weight:var(--Fw2);
}
.notification-unread-icon{
  height:8px;
  width:8px;
  background-color: var(--Red);
  border-radius: 50%;
  display: inline-block;
  align-items: center;
  margin-left: 0.4rem;
}

.notification-content{
  display: flex;
  gap:.2rem;
  align-items: center;
}
.notification-content .bold{
  font-weight: 800;
  cursor: pointer;
}
.notification-content .bold:hover{
  color:var(--Blue);
}
.notifications-list .notification:nth-child(-n+3) .notification-content {
  background-color:var(--Very-light-grayish-blue);
  padding:.8rem 0;
  border-radius:5px;
}
.commented-picture,
.avatar-container{
  min-width: 2.5rem;
  height: 2.5rem;
  margin-right:0.5rem;
  margin-left:1rem;
}
.avatar-container img, .commented-picture img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.commented-picture{
  margin-left: auto;
}
.private-message-container{
  margin-left: 4rem;
  padding: .75rem;
  border: 1px solid var(--Grayish-blue);
  border-radius:5px;
}
.allread:hover, .notification strong:hover{
  cursor: pointer;
  color: var(--Blue);
}
.commented-picture:hover, .private-message-container:hover{
  cursor: pointer;
}
.private-message-container:hover{
  background-color: var(--Light-grayish-blue-1);
  border: 1px solid #bcbcbc00;
}
.attribution a{
  color: var(--Dark-grayish-blue);
}.attribution a:hover{
  color: var(--Blue);
}
@media only screen and (max-width:500px) {
  main{
      width: 22rem;
      padding: .5rem 0;
      margin-top:14rem;
  }
  .notifications-container {
    margin:.7rem;
  }
  .attribution{
    font-size:12px;
  }
}

/* JavaScript */
.notification-unread-icon.active{
  display: none;
}












